.app-container{
  display: flex;
}
.content{
  width: 100%;
}

.sidebar{

  min-height: 800px;
}

.post-card{
  margin: 20px 15px;
 
}

.hastag{
  margin: 0px 3px;
}

.create-post{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;

}

.welcomeMsg{
margin: 100px 0px;
}